.column-style-left{
    -fx-alignment: "CENTER-RIGHT";
}
.column-style-center{
    -fx-alignment: "CENTER";
}
.column-font-style{
    -fx-font-size: 14;
    /*-fx-font-family: "Cambria";*/
}
.buttonTableView-style{
    -fx-font-size: 12;
    -fx-alignment: "CENTER";

}
.buttonDetail-style{
    -fx-background-color: #B1CAE8;
    -fx-font-color: #B1C0D4;
    -fx-font-weight: bold;
}
.comboBox-font-style{
    -fx-font-size: 12;
    -fx-font-weight: bold;
}
.NewExpense-font-style{
    -fx-font-size: 12;
    -fx-font-weight: bold;
}
/* Hide the close (X) button */
.dialog-pane .header .close-button {
    -fx-graphic: null;
}
.addRemoveButton-style{
   -fx-cursor: hand;
}
